h1 {
  padding: 1em 0 1.4em 0;
}

h1 a {
  color: #222;
  text-decoration: none !important;
}

/* page */

#pagination {
  padding: 1em 0 8em 0;
}

#page-comments {
  clear: both;
  padding-top: 2em;
}

#page-navigation {
  padding: 3em 0 1em 0;
}

#page-navigation .pull-left {
  margin: 0;
  padding-left: 1em;
  text-indent: -1em;
}

#page-navigation .pull-right {
  text-align: right
}

/* post */

.post {
  padding-bottom: 3em;
}

.post-category {
}

.post-category {
}

.post-date {
  padding-bottom: 0.8em;
}

/* sidebar */

#sidebar {
  border-left: 1px solid #E4ECF0;
  padding-left: 0.8em;
  padding-bottom: 10em;
}

#sidebar h4:first {
  margin-top: 0 !important;
}

#sidebar h4 {
  margin-top: 0.6em;
}

/* twitter */
.twtr-hd, .twtr-ft { display: none; }
.twtr-tweet-wrap { padding: 5px 0px 5px 0px !important; }
