<div id="sidebar">
  <div class="new-job">
    Are you looking for a new job? I had a great experience
    with <a href="http://join.hired.com/x/gZxpSP">Hired.com</a>.
    Feel free to ping me if you'd like more details.
  </div>
  <div class="social">
    <a href="http://instagram.com/cym3n?ref=badge" class="ig-b- ig-b-32"><img src="//badges.instagram.com/static/images/ig-badge-32.png" alt="Instagram" /></a>
  </div>
  <h4><a href="/assets/Resume - Cymen Vig.pdf">Resume</a></h4>
  <h4><a href="https://github.com/cymen">Github</a></h4>
  <h4><a href="/all.html">All posts</a></h4>
  <h4><a href="/about">About</a></h4>
  <div class="twitter">
    <a class="twitter-timeline" href="https://twitter.com/cymen" data-widget-id="356167819802595328">Tweets by @cymen</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
</div>
