<div id="sidebar">
  <div class="new-job">
    Do you want to work with JavaScript, React, redux/flux, ES6, ImmutableJS with a strong component approach? <a href="https://jobs.lever.co/mattermark/059c168c-d60a-4b97-a4e0-7fe231cf27dc">Come join me at Mattermark!</a> We're a small team with great backgrounds aiming to build something huge! Please email or tweet to me if you want to talk -- I prefer to be transparent and will answer any questions you have. Ideally, you would be in San Francisco bay area but we're opening a Seattle office too.
  </div>
  <h4><a href="/assets/Resume - Cymen Vig.pdf">Resume</a></h4>
  <h4><a href="/all.html">All posts</a></h4>
  <h4><a href="/about">About</a></h4>
  <div class="twitter">
    <a class="twitter-timeline" href="https://twitter.com/cymen" data-widget-id="356167819802595328">Tweets by @cymen</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
</div>
