<div id="sidebar">
  <div class="social">
    <a href="https://github.com/cymen"><i class="fa fa-github fa-2x"></i></a>
    <a href="http://instagram.com/cym3n?ref=badge"><i class="fa fa-instagram fa-2x"></i></a>
    <a href="https://twitter.com/cymen"><i class="fa fa-twitter fa-2x"></i></a>
    <a href="https://plus.google.com/u/0/+CymenVig"><i class="fa fa-google-plus fa-2x"></i></a>
    <a href="https://www.flickr.com/photos/cymen/"><i class="fa fa-flickr fa-2x"></i></a>
  </div>

  <h4><a href="/assets/Resume - Cymen Vig.pdf">Resume</a></h4>
  <h4><a href="/all.html">All posts</a></h4>
  <h4><a href="/about">About</a></h4>
  <div class="twitter">
    <a class="twitter-timeline" href="https://twitter.com/cymen" data-widget-id="356167819802595328">Tweets by @cymen</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
</div>
